body {
    background: #282828;
}

.row {
    position: relative;
    display: flex;
    align-content: stretch;
}

.column {
    flex-grow: 1;
}

#grid li {
    margin: 0 0 0 6.7%;
    list-style-type: none;
    width: 86.6%;  /* 83.5714285714%; */ /* 27.85714285714286%; */
    padding: 100% 0 0 0; /* 0 0 96.502804355% 0; */ /* 0 0 32.16760145166612% 0; */
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg) scale(1.12);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}

#grid li * {
    visibility: visible;
}

.img-container {
    position: relative;
    top: 15%;
    left: 15%;
    height: 70%;
    width: 70%;
    transform: rotate(30deg);
    overflow: hidden;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdbf00;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

#grid li .food {
    background: #88B04B;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.hex-grid {
    margin: 1rem;
    left: 1.6rem;
    position: relative;
}

.tools-center {
    display: flex;
    justify-content: center;
}

.tools {
    padding: 0.5rem;
    margin: 1rem 0 4rem;
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    height: 10rem;
}

.tools .button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0px
}

.tools .image-container {
    position: relative;
    width: 100%;
    height:70%
}

.tools .text {
    text-align: center;
}

.tools .border {
    position: absolute;
    width: 100%;
}

@keyframes ants { to { background-position: 100% 100% } }

.tools .selected {
    border: 3px solid transparent;
	  background: linear-gradient(white, white) padding-box,
	              repeating-linear-gradient(-45deg, black 0, black 25%,
                                          transparent 0, transparent 50%) 0 / .6em .6em;
	  animation: ants 12s linear infinite;
}
